@using Subleq.Hardware
@using System.ComponentModel

@code {
    [EditorRequired]
    [Parameter]
    public CPU CPUObject { get; set; }


    protected override void OnInitialized()
    {
        Console.WriteLine("CPUView OnInitialized called.");
    }
}

<div>
    <h1>CPU View</h1>
    <table>
        <tr>
            <th>Instruction Pointer</th>
            <td>@CPUObject.InstructionPointer</td>
        </tr>
        <tr>
            <th>Input</th>
            <td><input type="number" @bind="@CPUObject.Input" /></td>
        </tr>
        <tr>
            <th>Output</th>
            <td><input type="number" @bind="@CPUObject.Output" /></td>
        </tr>
    </table>
</div>